.home {

	// Transparent to overlay on top of Hero
	.sticky-top-bar {
		background: transparent;
	}

	.is-stuck.sticky-top-bar {
		@include background-opacity( $primary-color, 0.6 );
	}

	.site-header {

		width: 100%;
		z-index: 999;

		.top-bar, .title-bar {
			position: relative;
		}

	}

	.front-hero {

		position: relative;

		margin: 0;
		height: auto;

		background-size: cover;
		background-position: 50% 80%;
		background-repeat: no-repeat;

		@include breakpoint( medium ) {
			background-position: 50% -30%;
		}
		
		.marketing {

			@include xy-grid;

			padding: 10rem 0 5rem 0;

			@include breakpoint( medium ) {
			
				padding: 30rem 0 5rem 0;

			}
			
			color: #fff;
			
			p {
				@extend h1;
				color: #fff;
				font-weight: 700;
			}
			
			* {
				font-weight: 700;
			}
			
			@include breakpoint(medium) {
				margin-top: rem-calc(-300%);
			}

			& > * {
				position: relative;
			}

		}

	}
	
	.footer-container {
		margin: 0;
	}

}