.home {

	.front-hero {

		margin: 0;
		height: auto;

		background-size: cover;
		background-position: 50% -280%;
		background-repeat: no-repeat;

		@include breakpoint( small only ) {

			margin: -9rem;

			.tagline {
				max-width: 25rem;
			}

		}

		@include breakpoint( medium ) {
			background-position: 50% -97%;
		}

		@include breakpoint( teneighty ) {
			background-position: 50% -44%;
		}

		@include breakpoint( fourk ) {
			background-position: 50% -13%;
		}

		.marketing {

			padding: 10rem 0 5rem 0;

			@include breakpoint( medium ) {

				padding: 30rem 0 5rem 0;

			}

			color: #fff;

			p {
				@extend h1;
				color: #fff;
				font-weight: 700;
			}


			* {
				font-weight: 700;
			}

			@include breakpoint(medium) {
				margin-top: rem-calc(-300%);
			}

			& > * {
				position: relative;
			}

		}

	}

	.footer-container {
		margin: 0;
	}

	.home-section {

		padding-bottom: 3rem;

		.section-title {

			font-weight: bold;
			
			text-align: center;

			margin: 3rem 0 2rem 0;

		}

		@include breakpoint( small only ) {

			.columns:not(:last-of-type) {
				margin-bottom: 2rem;
			}

		}

		$column-height: rem-calc( 300 );

		@include breakpoint( medium ) {

			.columns {
				min-height: $column-height;
			}

		}

		@import '../partials/home/text-content';
		@import '../partials/home/image-block';
		@import '../partials/home/impact-chart';

	}

}
