.home {

	.front-hero {

		margin: 0;
		height: auto;

		background-size: cover;
		background-position: 25% 75%;

		@include breakpoint( large ) {
			height: rem-calc( 650 );
			background-position: 50% 75%;
		}

		background-repeat: no-repeat;

		@include breakpoint( small only ) {

			.tagline {
				max-width: 25rem;
			}

		}

		position: relative;
		
		.marketing {

			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			div {
				height: 100%;
			}

			.vibrant-life-row-shortcode {

				height: auto;

				div {
					height: auto;
				}

				top: 50%;
				transform: translateY( -50% );
				position: absolute;

			}

			color: #fff;

			p {
				@extend h1;
				color: #fff;
				font-weight: 700;
			}


			* {
				font-weight: 700;
			}

			& > * {
				position: relative;
			}

		}

	}

	.footer-container {
		margin: 0;
	}

	.home-section {

		padding-bottom: 3rem;

		.section-title {

			font-weight: bold;
			
			text-align: center;

			margin: 3rem 0 2rem 0;

		}

		@include breakpoint( small only ) {

			.columns:not(:last-of-type) {
				margin-bottom: 2rem;
			}

		}

		$column-height: rem-calc( 300 );

		@include breakpoint( medium ) {

			.columns {
				min-height: $column-height;
			}

		}

		@import '../partials/home/text-content';
		@import '../partials/home/image-block';
		@import '../partials/home/impact-chart';
		@import '../partials/home/icon-block';

	}

}
