.page {

	.interior-hero {

		position: relative;

		margin: 0 0 rem-calc(32);
		height: auto;
		padding: rem-calc(175%) 0 rem-calc(25%) 0;

		@include breakpoint(medium) {
			padding: rem-calc(100%) 0 rem-calc(200%) 0;
			margin: 0 0 rem-calc(72);  
		}

		.main-wrap {

			@include xy-grid;

			*, .page-title {
				color: #fff;
				font-weight: 700;
			}

			& > * {
				position: relative;
			}

		}

		.image {
			position: absolute;

			.color-overlay {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				//background-color: rgba( 240, 240, 240, 0.86 );
				//@include create-gradient( 'vertical', $primary-color, transparent );
			}

			@include breakpoint(small) {
				background: url('../images/interior-pages/interior-hero.png') bottom center;
				background-size: 100%;
				background-position: bottom center;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}

			@include breakpoint(medium) {
				background: url('../images/interior-pages/interior-hero.png') bottom center;
				background-size: 100%;
				background-position: bottom center;
				background-repeat: no-repeat;
			}

		}

	}

}