.page {

	.interior-hero {

		position: relative;

		margin: 0 0 rem-calc(32);
		padding: rem-calc(10%) 0 0 0;
		height: auto;

		@include breakpoint(medium) {
			padding: rem-calc(100%) 0 rem-calc(200%) 0;
			margin: 0 0 rem-calc(72);  
		}

		.main-wrap {

			@include xy-grid;

			*, .page-title {
				color: #fff;
				font-weight: 700;
			}

			& > * {
				position: relative;
			}
			
			@include breakpoint(small) {
				margin-top: 0;
			}

		}

		.image {
			position: absolute;

			.color-overlay {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				//background-color: rgba( 240, 240, 240, 0.86 );
				//@include create-gradient( 'vertical', $primary-color, transparent );
			}

			@include breakpoint(small) {
				background: url('../images/interior-pages/interior-hero.png') bottom center;
				background-size: cover;
				background-position: bottom center;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}

			@include breakpoint(medium) {
				background: url('../images/interior-pages/interior-hero.png') bottom center;
				background-size: 100%;
				background-position: bottom center;
				background-repeat: no-repeat;
			}

		}

	}
	
	.extra-meta-section {
		
		margin-top: rem-calc(60);
		
		.extra-meta {
			
			background-color: $primary-color;
			
			&, h1, h2, h3, h4, h5, h6 {
				@include light-or-dark-text( $primary-color );
			}
			
		}
		
		.extra-meta, .events {
			
			padding: 1rem;
			
			@include breakpoint(medium) {
				padding: 7rem;
			}
			
		}
		
		.events {
			background-color: #f2f2f2;
		}
		
	}
	
	.sponsors-section {
		
		.text {
			background-color: #f2f2f2;
		}
		
		.text, .sponsors-loop {
			
			padding: 1rem;
			
			@include breakpoint(medium) {
				padding: 2rem 7rem;
			}
			
		}
	
		.sponsors-loop {

			.sponsors {

				img {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}

			}

		}
		
	}

}