.page-template-projects {
	
	.interior-hero {
		margin-bottom: 0;
	}
	
	@include breakpoint(medium) {
		
		.main-wrap {
			
			margin-top: 0;
			
		}
		
	}
	
	.extra-meta-section {
		margin-top: 0;
	}
	
}