.page-template-volunteers {
	
	.interior-hero {
		margin-bottom: 0;
	}
	
	.intro {
		
		margin: 0 0 rem-calc(32); // Same as .interior-hero
		background-color: $primary-color;
		
		.content {
			
			padding: 1rem;
			
			@include breakpoint(medium) {
				padding: 7rem;
			}
			
			h1, h2, h3, h4, h5, h6 {
				@include light-or-dark-text( $primary-color );
			}
			
			@include light-or-dark-text( $primary-color );
			
		}
		
		.image-container {
			
			position: relative;
			
			.image {
				
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
				background-position: bottom center;
				
			}
			
		}
		
	}
	
}