@mixin white-card() {
	
	background: #fff;
	color: $body-font-color;
	
	h1, h2, h3, h4, h5, h6 {
		color: $primary-color;
	}
	
	a:not(.button) {
		
		color: $anchor-color;
		font-weight: normal;
		
		&:hover {
			color: $anchor-color-hover;
		}
		
	}
	
}

.page-template-volunteers {
	
	.interior-hero {
		margin-bottom: 0;
	}
	
	.volunteer-sections {
		
		.card {
			
			border: 0;
			margin-bottom: 0;
			padding: 0;
			
			a:not(.button) {
		
				color: $secondary-color;
				font-weight: 700;

				&:hover {
					color: scale-color($secondary-color, $lightness: -14%);
				}

			}
			
			.card-content {
				padding-left: 1rem;
				padding-right: 1rem;
				padding-bottom: 1rem;
				
				@include breakpoint( medium ) {
					padding-left: 7rem;
					padding-right: 7rem;
					padding-bottom: 7rem;
				}
				
			}
			
			@include breakpoint( small only ) {
				
				&:nth-of-type(even) {
					@include white-card;
				}
				
			}
			
			// Back-and-forth "checker" effect
			@include breakpoint( medium ) {
				
				&:nth-of-type( 2 ), &:nth-of-type( 3n ), &:nth-of-type( 7n ) {
					@include white-card;
				}
				
			}
			
		}
		
	}
	
	.faqs {
		
		margin-bottom: rem-calc(60);
		
	}
	
	.extra-meta-section {
		
		margin-top: 0;
		
	}
	
}