// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a { background-color: #ccc; }

}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {

  .menu .is-active > a {
    background-color: lighten($secondary-color, 5%);
  }
}

// Tablet and desktop menu

.sticky-top-bar {
  background-color: #00AFD7;
}

.sticky-top-bar, .top-bar-container {
  &, * {
    transition: ease all 300ms;
  }
}

.is-stuck.sticky-top-bar {
  @include background-opacity( #00AFD7, 0.9 );
  z-index: 999;
}

.top-bar-container {

  background-color: $white;

  .top-nav {
    overflow: hidden;
  }

  .top-bar-menu {

    @include breakpoint( small only ) {
      float: right;
    }

    & > li {

      transform: skew( -13deg );
      transition: background-color 150ms;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        display: inline-block;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        z-index: -1;
        transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
      }

      &:hover, &:focus {

        &:before {
          left: 0;
          right: auto;
          width: 100%;
        }

      }

      & > a {
        transition: color 300ms;
      }

      &:nth-of-type( 0n + 1 ) {

        background-color: #ff671f;

        &:before {
          background-color: smart-scale( #ff671f, 14% );
        }

        & > a {

          @include light-or-dark-link( #ff671f, $body-font-color );

          &:hover {
            @include light-or-dark-text( smart-scale( #ff671f, 14% ) );
          }

        }

      }

      &:nth-of-type( 0n + 2 ) {

        background-color: #c4d600;

        &:before {
          background-color: smart-scale( #c4d600, 14% );
        }

        & > a {

          @include light-or-dark-link( #c4d600, $body-font-color );

          &:hover {
            @include light-or-dark-text( smart-scale( #c4d600, 14% ) );
          }

        }

      }

      &:nth-of-type( 0n + 3 ) {

        background-color: #a4343a;

        &:before {
          background-color: smart-scale( #a4343a, 14% );
        }

        & > a {

          @include light-or-dark-link( #a4343a, $body-font-color );

          &:hover {
            @include light-or-dark-text( smart-scale( #a4343a, 14% ) );
          }

        }

      }

      &:last-of-type {
        margin-right: rem-calc( -20 );
      }

      & > a {

        // Invert the skew to straighten the text
        transform: skew( 13deg );
        font-weight: bold;
        font-size: 1rem;
        padding-left: 1rem;
        line-height: 1.8;

      }

    }

  }

}

.sticky-container .top-bar {

  .top-bar-title a {
    font-size: 1rem;
    color: #B9B9B9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;

    &:hover:not(.button) {
      background-color: $secondary-color;
    }
  }

  .menu .is-active > a {
    background-color: lighten($secondary-color, 5%);
  }

  &.top-nav {

    .menu a {

      color: #fff;

      &:hover {
        color: $primary-color;
      }

    }

  }

  .menu .active > a { background-color: #ccc; }

  .menu>li:not(.menu-text)>a { padding: 1rem; }

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.svg-container.small-version {
  display: none;
}

.svg-container {
	
	svg {
		fill: #fff;
	}
	
}

@include breakpoint(small only) {

  .title-bar {
    
    padding: 0;

    svg {
      width: 75%;
      margin-top: 1rem;
      margin-left: 0.5rem;
    }
    
    .menu-icon {
      margin-top: 3.25rem;
      margin-right: 0.5rem;
    }

  }
  
  .is-stuck.sticky-top-bar {
    
    .title-bar-title {
      //margin-top: 2.25rem;
    }
    
    .menu-icon {
      //margin-top: 4.25rem;
    }
    
    .svg-container {
      
      //display: none;
      
      &.small-version {
        display: inline-block;
      }
      
    }
    
  }

}

@include breakpoint(medium) {
  
  .sticky-top-bar {

    .top-bar-title {
      a {
        padding: 0;
        display: inline-block;
      }
    }
    
    .svg-container {
      
      svg {
      
        margin-top: .5rem;
        width: 70%;
        height: auto;
        
      }
      
    }
    
  }
  
}