.image_block {

    position: relative;

    @include breakpoint( small only ) {
        min-height: $column-height;
    }

    .background-image {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-size: cover;
        background-position: center center;

    }

    .button {

        position: absolute;

        @include breakpoint( medium ) {
            position: relative;
        }

        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );

    }

}