.image_block {

    position: relative;

    @include breakpoint( small only ) {
        min-height: $column-height;
    }

    .background-image {

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-size: cover;
        background-position: center center;

    }

    .image-container {
        height: 100%;
    }

    .image-link {

        .background-image {

            &:after {

                content: '';
                position: absolute;
    
            }

        }

        &:hover, &:focus {

            .background-image {

                &:after {

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, .2);

                }

            }

        }

    }

    .button, .image-text {

        position: absolute;

        @include breakpoint( medium ) {
            position: relative;
        }

        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );

    }

    .image-text {
        text-align: center;
        color: #fff;
        font-weight: 700;

        &, * {
            pointer-events: none;
        }
    }

}
